[Unit]
Description=QuickNotes
Wants=network-online.target
After=network-online.target

[Service]
User=quicknotes
Group=quicknotes
WorkingDirectory={{ data_dir }}
Environment="ADDR={{ listen_addr }}"
Environment="DATA_PATH={{ data_path }}"
Environment="SEED_PATH={{ seed_path }}"
ExecStart=/usr/local/bin/quicknotes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
